h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    left: 50%;
    top: 15%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 3em;
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    position: absolute;
    font-size: 2.5em;
}

button{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    position: absolute;
    background-color:white;
    font-size: 2em;
    padding: 0.7em;
}

table {
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
}

th{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    border:  1px solid white;
}

tr {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

td {
    padding: 0.5em;
    border:  1px solid white;
}